### A Revision to pandas DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
array_a = np.array([[3, 2, 1], [6, 3, 2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [3]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [4]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

In [5]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'])
df

   Column 1  Column 2  Column 3
0         3         2         1
1         6         3         2

In [6]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [12]:

data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [8]:
type(lending_co_data)

pandas.core.frame.DataFrame

### Common Attributes for Working with DataFrames

In [9]:

data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [10]:
lending_co_data.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [11]:
type(lending_co_data.index)

pandas.core.indexes.numeric.Int64Index

In [12]:
lending_co_data.columns # its important to observe columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [13]:
type(lending_co_data.columns)

pandas.core.indexes.base.Index

In [14]:
lending_co_data.axes

[Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
             ...
             1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
            dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [15]:
lending_co_data.dtypes # more importantly observe the types of your columns!!

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [16]:
lending_co_data.values

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [17]:
type(lending_co_data.values)

numpy.ndarray

In [18]:
lending_co_data.to_numpy() # here and above gives same outcomes

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [19]:
type(lending_co_data.to_numpy())

numpy.ndarray

In [20]:
lending_co_data.shape # shape of your data

(1043, 14)

In [21]:
len(lending_co_data.columns)

14

In [26]:
import pandas as pd
location_data = pd.read_csv('Lending-company.csv', usecols = ['TotalPrice'], squeeze = True) # wonder what happens when you say False
location_data

C:\Users\MONSTER\AppData\Local\Temp/ipykernel_15800/783093964.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  location_data = pd.read_csv('Lending-company.csv', usecols = ['TotalPrice'], squeeze = True) # wonder what happens when you say False

0       17600.0
1           NaN
2       16600.0
3       17600.0
4       21250.0
         ...
1038    17300.0
1039        NaN
1040    17300.0
1041    16300.0
1042    17300.0
Name: TotalPrice, Length: 1043, dtype: float64

In [25]:
type(location_data)

pandas.core.frame.DataFrame

In [23]:
location_data.shape

(1043, 2)

### Data Selection in pandas DataFrames

In [27]:
import pandas as pd

In [9]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head(100)

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,LoanID_96,Product B,Female,Location 4,Region 7,17600.0,11/05/2019,2200,45,365,3501,4981,9996,Active
97,LoanID_97,Product B,Female,Location 70,Region 3,17600.0,01/06/2018,2200,45,365,3500,4245,14240,Active
98,LoanID_98,Product A,Male,Location 45,Region 4,23250.0,25/12/2019,5000,55,365,5600,6725,15665,Active
99,LoanID_99,Product A,Male,Location 3,Region 4,23250.0,23/07/2019,5000,55,365,5600,6715,22600,Active
100,LoanID_100,Product B,Female,Location 262,Region 1,17600.0,30/08/2018,2200,45,365,3301,3126,10151,Active

In [10]:
lending_co_data.Product

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [11]:
lending_co_data.Location

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [12]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [32]:
lending_co_data['Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [13]:
lending_co_data['location'] # careful with the exact column name

KeyError: 'location'

In [14]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [15]:
lending_co_data[['Location']]
# nesting a list within the indexing operatior is the most needed when you wanna extract data from
# several columns

           Location
LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
...             ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94

[1043 rows x 1 columns]

In [36]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [37]:
lending_co_data[['Location', 'Product']].head()

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

In [38]:
prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head()

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

### Data Selection - Indexing Data with .iloc[]

In [39]:
import pandas as pd #iloc indexers might look disgusting but you gotta learn em
#it is an indexor or accessor

In [40]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy() # this style allows you to save the original dataframe coming from csv
lending_co_data.head()
#remember, iloc is position based indexer

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [41]:
lending_co_data['Product']

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [42]:
lending_co_data.iloc[1]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [43]:
lending_co_data.iloc[1, 3]

'Location 6'

In [44]:
lending_co_data.iloc[1,:]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [45]:
lending_co_data.iloc[:, 3]

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [46]:
type(lending_co_data.iloc[1, 3])

str

In [47]:
type(lending_co_data.iloc[1, :])

pandas.core.series.Series

In [48]:
type(lending_co_data.iloc[:, 3])

pandas.core.series.Series

In [17]:
lending_co_data.iloc[[1, 3], :]  # 2nd and 4th rows with all columns

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [19]:
lending_co_data.iloc[[0,1,2], :]  # first three rows with all columns
lending_co_data.iloc[:, [0,1,2]]  # first three rows with all columns

           StringID    Product CustomerGender
LoanID
1          LoanID_1  Product B         Female
2          LoanID_2  Product D         Female
3          LoanID_3  Product B           Male
4          LoanID_4  Product A           Male
5          LoanID_5  Product B         Female
...             ...        ...            ...
1039    LoanID_1039  Product B           Male
1040    LoanID_1040  Product A           Male
1041    LoanID_1041  Product A   NotSpecified
1042    LoanID_1042  Product B         Female
1043    LoanID_1043  Product A   NotSpecified

[1043 rows x 3 columns]

In [51]:
lending_co_data.iloc[:, [3, 1]]  #all rows but 4th and 2nd column!

                Location    Product
StringID
LoanID_1      Location 3  Product B
LoanID_2      Location 6  Product D
LoanID_3      Location 8  Product B
LoanID_4     Location 26  Product A
LoanID_5     Location 34  Product B
...                  ...        ...
LoanID_1039  Location 73  Product B
LoanID_1040  Location 82  Product A
LoanID_1041  Location 11  Product A
LoanID_1042  Location 26  Product B
LoanID_1043  Location 94  Product A

[1043 rows x 2 columns]

### Data Selection - Indexing Data with .loc[]

In [21]:
import pandas as pd

In [27]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy() #SAME OLD STORY M8
lending_co_data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LoanID_1039,1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
LoanID_1040,1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
LoanID_1041,1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
LoanID_1042,1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
LoanID_1043,1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [28]:
lending_co_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [29]:
lending_co_data.loc['LoanID_3', :]

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [30]:
lending_co_data.loc['LoanID_3', 'Region']

'Region 3'

In [31]:
lending_co_data['Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

### iMPORTANT Comments WHEN Using .loc[] and .iloc[]

In [58]:
import pandas as pd

In [59]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [60]:
lending_co_data.shape

(1043, 14)

In [21]:
lending_co_data.iloc[1043, :] #DONT MAKE ME SAD

IndexError: single positional indexer is out-of-bounds

In [62]:
lending_co_data.iloc[10000, :] # START QUESTIONING WHY ARE YOU HERE

IndexError: single positional indexer is out-of-bounds

In [63]:
lending_co_data.iloc[:, 14]  # :((

IndexError: single positional indexer is out-of-bounds

In [64]:
lending_co_data.iloc[:, 13]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [65]:
lending_co_data.iloc[:, -1]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [66]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [67]:
# incorrect (single indexer required)
lending_co_data['TotalPrice'].iloc[0, :]

IndexingError: Too many indexers

In [68]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [70]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [71]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [72]:
lending_co_data['TotalPrice'].loc['LoanID_1'] #a good example of difference between loc and iloc

17600.0

In [80]:
# AVOID
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [81]:
lending_co_data.loc['LoanID_1', 'TotalPrice']

17600.0

In [83]:
lending_co_data.loc[['LoanID_1', 'LoanID_6'], :]  #more legit way to show your data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active