## Working with Text Data and Argument Specifiers

In [2]:
# product_category = 'A'
product_category = 'B'
# print('This item is from product category "%s".')
print('This item is from product category "%s".' % product_category)

This item is from product category "B".

In [3]:
product_category = ["A", "B"]
# print('This item is from product category "%s".' % product_category)
print('This item is from product category "%s".' % product_category[1])

This item is from product category "B".

In [4]:
quantities = [500, 600]
print('This item is from product category "%s".' % quantities[1])

This item is from product category "600".

In [5]:
print("We currently have %d available units of this item." % quantities[0])

We currently have 500 available units of this item.

In [3]:
stock_share_price_list = [40.50, 60.35]
print("This stock costs $%f per share." % stock_share_price_list[0])

This stock costs $40.500000 per share.

In [8]:
# print("This stock costs $%.f per share" % stock_share_price_list[1])
# print("This stock costs $%.1f per share" % stock_share_price_list[1])
print("This stock costs $%.2f per share." % stock_share_price_list[1])

This stock costs $60.35 per share.

In [7]:
# i = 0
i = 1
print("Currently, we have %d units of Category \"%s\" products in store." % (quantities[i], product_category[i]))

Currently, we have 600 units of Category "B" products in store.

##  Python Strings

In [4]:
# print('This product is from Category "A".')
# print('This product is from \nCategory "A".')
# print('This product is from \n Category "A".')
print('This product is from \nCategory "A".')

This product is from
Category "A".

In [9]:
print('This product is from Category "A". ' + 'That product is from Category "B".')

This product is from Category "A". That product is from Category "B".

In [10]:
# print('This product is from Category "A".\t' + 'That product is from Category "B".')
# print('This product is from Category "A".\tThat product is from Category "B".')
print('This product is from Category "A". \t\t\t That product is from Category "B".')

This product is from Category "A". 			 That product is from Category "B".

In [10]:
# print('This product is from Category "A". \rProduct 01')
print('This product is from Category "A". \rProduct 0001')

Product 0001

Various String Methods

In [10]:
s = 'Price per unit'
s

'Price per unit'

In [11]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [12]:
s1.startswith('Cost')

True

In [13]:
s1.startswith('cost')

False

In [14]:
s1.startswith('Price')

False

In [15]:
s1.endswith('nit')

True

In [16]:
s1.endswith('nits')

False

In [17]:
s1

'Cost per unit'

In [18]:
s1.split()

['Cost', 'per', 'unit']

In [19]:
len(s1.split())

3

In [20]:
s1.split(' ')

['Cost', 'per', 'unit']

In [21]:
s1.split(" ")

['Cost', 'per', 'unit']

In [24]:
s1.split('')  #cant be

ValueError: empty separator

In [25]:
s1.split('per')

['Cost ', ' unit']

In [26]:
# s1.split(' ', maxsplit = 0)
# s1.split(' ', 0)
# s1.split(' ', 1)
# s1.split(' ', 2)
# s1.split(' ', 3)
s1.split(' ', 4)

['Cost', 'per', 'unit']

In [4]:
s2 = 'Mr., John, Wick'

In [5]:
s2.split(',')

['Mr.', ' John', ' Wick']

In [29]:
# s2.split(',')[0]
# s2.split(',')[1]
s2.split(',')[2]

' Wilson'

In [30]:
s3 = 'Mr Johnny Cage'

In [31]:
s3.upper()

'MR JOHNNY CAGE'

In [32]:
s3.lower()

'mr johnny cage'

In [33]:
s3.capitalize()

'Mr johnny cage'

In [34]:
s3.title()

'Mr Johnny Cage'

In [35]:
s3 == s3.title()

True

In [36]:
'Cost per unit'.title()

'Cost Per Unit'

In [37]:
s4 = '  quarterly earnings report   '

In [38]:
s4.strip()

'quarterly earnings report'

In [39]:
s4.strip(' ')

'quarterly earnings report'

In [40]:
s4.strip(' r')

'quarterly earnings report'

In [41]:
s4.strip(' qt')

'uarterly earnings repor'

In [42]:
s4.strip('qt')

'  quarterly earnings report   '

In [43]:
s4.lstrip()

'quarterly earnings report   '

In [44]:
s4.rstrip()

'  quarterly earnings report'

In [45]:
s4.strip(' quarterly')

'nings repo'

In [46]:
s4.lstrip(' quarterly')

'nings report   '

In [47]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [48]:
s5.lstrip('quarterly')

' earnings report'

In [49]:
s5.rstrip('report')

'quarterly earnings '

In [50]:
s6 = ' %&!quarterly earnings report  *'

In [51]:
s6.strip(' !@#$%^&*()') #cursing in Russian is the best amongst other languages

'quarterly earnings report'

##  .format() Method

In [27]:
time_horizon = 1, 3, 12
time_horizon

(1, 3, 12)

In [28]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [29]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [30]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [31]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [32]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [33]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2], products[1])

'Expected sales for a period of Product B month(s) for 12:'

In [34]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [35]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

"Expected sales for a period of 12 month(s) for ['Product A', 'Product B']:"

In [36]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

'Expected sales for a period of 12 month(s) for Product B:'

In [37]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

'Expected sales for a period of 12 month(s) for Product B:'

In [38]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}.'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'

In [39]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}.'.format(12, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'