## Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x=10

Tell the computer to show you the value of that variable.

In [2]:
x

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [3]:
a=10; b=20; c=30; d=40

Tell the computer to show you the value corresponding to the variable "b".

In [4]:
b

20

Do the same for "d".

In [5]:
d

40

## Numbers and Boolean Values

Create a variable equal to "True".

In [6]:
checkvar = True

Check its type.

In [7]:
checkvar

True

Create a variable equal to 99.

In [8]:
newvar=99

Check its type.

In [9]:
type(newvar)

int

Check the type of the value 0.99.

In [10]:
type(0.99)

float

Turn 99 into a *float*.

In [11]:
float(99)

99.0

Turn 0.99 into an integer. What value did you get?

In [12]:
x=int(0.99)
x

0

## Strings

Assign the value of 100 to the variable "m".

In [25]:
m='100'

With the help of the variable "m", write one line of code where the output after executuion would be *100 days*.

In [26]:
print(m + ' days')

100 days

Produce an output equal to *It's cool, isn't it?*

In [27]:
print('It\'s cool, isn\'t it?')

It's cool, isn't it?

Include a plus sign in your line of code to produce *'Big Houses'*.

In [30]:
print('\'Big' + ' Houses\'')

'Big Houses'

add 15 and 23.

In [32]:
a='15'
b='25'
print(int(a) + int(b))

40

Subtract 50 from 26.

In [33]:
a='50'
b='26'
print(int(b) - int(a))

-24

Divide 20 by 4.

In [35]:
a='20'
b='4'
print(float(a) / float(b))

5.0

Divide 22 by 4.

In [36]:
a='22'
b='4'
print(float(a) / float(b))

5.5

Obtain the remainder of the division of 22 by 4.

In [38]:
a='22'
b='4'
print(int(a) % int(b))

2

## The double-equality sign

Demonstrate that 100 is not equal to 98.

In [39]:
100!=98

True

## Reassign Values

Assign the value of 14 to a variable p.

In [40]:
p=14

Calculate p + 10.

In [41]:
p+10

24

Now, assign 30 to the variable p.

In [42]:
p=30

Calculate p + 10.

In [43]:
p+10

40

## Indexing Elements

Extract the letter 'B' from "Bingo!".

In [45]:
x="Bingo!"
x[0]

'B'

In [46]:
x="Constitution"
x[x.index('u')]

'u'

Extract the letter "u" from "Constitution".

Verify that 25 is smaller than 30.

In [63]:
25<30

True

Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

In [64]:
5*3<=5**3

True

Verify that 100 is equal to 10 square.

In [65]:
100==10**2

True

Check whether the following code is True or False.

False or not True and not False

In [60]:
False or not True and not False

False

Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.

In [61]:
if 5>2:
    print('The condition has been satisfied')

The condition has been satisfied

Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 or y is less than or equal to 13.

In [68]:
x=10;y=25;
if x>3 and y>13:
    print("Both conditions are correct")
if x<=3 or y<=13:
    print("At least one of the conditions is false")

Both conditions are correct

## Creating a Function

Define a function that returns a value equal to its argument multiplied by 2.

In [70]:
def func1(x):
    x=x*2
    return x
print(func1(5))

10

## Combining Conditional Statements and Functions

Define a function, called **yourOtherFunc**, with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [71]:
def yourOtherFunc(x,y):
    if x<y:
        print('Less')
    elif x>y:
        print('Greater')
    else:
        print('Equal')

In [74]:
yourOtherFunc(4,5)
yourOtherFunc(5,4)
yourOtherFunc(5,5)

Less
Greater
Equal

Obtain the minimum number among the values 25, 65, 890, and 15.

In [75]:
X = [25, 65, 890, 15]
min(X)

15

Find the absolute value of -100

In [19]:
abs(-100)

100

Round the value of 55.5. Did you obtain 56.0?

In [76]:
round(55.5)

56

Round 35.56789 to the third digit.

In [80]:
round(35.56789, 3)

35.568

Find the sum of all elements in the provided list, called "Numbers".

In [82]:
sum(Numbers)

125

How many characters are there in the word "Elephant"?

In [85]:
len('Elephant')

8

## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [92]:
Numbers=[10, 25, 40, 50]

Print the element at index 2 from the list.

In [87]:
Numbers[1]

25

Print the 0th element.

In [88]:
Numbers[0]

10

Delete the number 25 from the Numbers list.

In [93]:
Numbers.remove(25)
print(Numbers)

[10, 40, 50]

Append the number 100 to the Numbers list.

In [94]:
Numbers.append(100)

In [95]:
print(Numbers)

[10, 40, 50, 100]

Print a statement, saying "The fourth element of the Numbers list is:" and then designate the value of the fourth element. Use a trailing comma.

In [96]:
print ('The fourth element of the Numbers list is: ', Numbers[3])

The fourth element of the Numbers list is:  100

How many elements are there in the Numbers list?

In [97]:
len(Numbers)

4

## List Slicing

In [101]:
Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

In [102]:
# slicing is via      :
Numbers[3:5]

[100, 115]

Using slicing, extract the first four elements from the list.

In [103]:
Numbers[:4]

[15, 40, 50, 100]

Using slicing, extract the last 4 elements from the list.

In [105]:
Numbers[len(Numbers)-4:]

[50, 100, 115, 140]

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [106]:
Two_Numbers=[1,2]
All_Numbers=Numbers + Two_Numbers
print(All_Numbers)

[15, 40, 50, 100, 115, 140, 1, 2]

Sort all the numbers in the "Numbers" list from the largest to the smallest.

In [111]:
Numbers.sort(reverse = True)
print(Numbers)

[140, 115, 100, 50, 40, 15]

## Tuples

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

In [112]:
Cars = "BMW", "Dodge", "Ford"
Cars

('BMW', 'Dodge', 'Ford')

Access the second element of this tuple.

In [114]:
Cars[1]

'Dodge'

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

In [115]:
def func3(x,y):
    area=x*y;
    perimeter=2*x+2*y;
    return area, perimeter

In [116]:
func3(2,10)

(20, 24)

## Dictionaries

This is the menu of a close-by restaurant:

In [117]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Kebab'}

What is the second meal in the list?

In [121]:
Menu['meal_2']

'Fries'

Add a new meal - "Soup".

In [122]:
Menu['meal_5'] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Kebab',
 'meal_5': 'Soup'}

Replace the Hamburger with a Cheeseburger.

In [123]:
Menu['meal_3'] = "Cheeseburger"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Kebab',
 'meal_5': 'Soup'}

## For Loops

Create a For loop that prints every digit on a new line.

In [124]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [125]:
for n in digits:  
    print(n)

0
1
2
3
4
5
6
7
8
9

Adjust the code, so the digits are all printed on the same line.

In [126]:
for n in digits:  
    print(n, end = ' ')

0 1 2 3 4 5 6 7 8 9

## While Loops and Incrementing

Create a while loop that will print all odd numbers from 0 to 30 on the same row.

In [129]:
for n in range(0,30):
    if n % 2 !=0:
        print(n, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

## Create Lists with the range() Function

Use the range() function to create a list with all numbers from 1 to 10.

In [132]:
Mylist=list(range(1,11))
Mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Conditional Statements, Functions, and Loops

You are provided with the 'nums' list. Complete the code in the cell that follows. Use a while loop to count the number of values in a list that are lower than 20!

In [134]:
nums = [1,12,24,31,51,70,100,2,-10,0]

In [135]:
i=0
total=0
while i<len(nums):
    if nums[i]<20:
        total=total+1
    i=i+1
total

5

In [148]:
# ANOTHER HOMEWORK
#Write  code that creates 2 lists of integers(first list should contain 6 integers, the second list should contain 7 integers!)
#combine(concatenate) them and loops through each element of the list, and only prints out even numbers!
# even numbers example: 0 2 4 6 8
# odd numbers: 1 3 5 7

list1 = list(range(6))
list2 = list(range(6,13))

list3=list1+list2
list3

for n in list3:
    if n % 2==0:
        print (n, end=' ')

0 2 4 6 8 10 12