In [1]:
import numpy as np

In [2]:
mylist =[1,2,3]

In [3]:
type(mylist)

list

In [4]:
np.array(mylist)

array([1, 2, 3])

In [5]:

myarray  = np.array(mylist)

In [6]:
myarray

array([1, 2, 3])

In [7]:
Denis =np.arange(0,100)

In [9]:
np.arange(0,100,7)

array([ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98])

In [10]:
s = np.zeros(shape=(6,6))
s

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [11]:
np.zeros(shape=(4,2)) 
#  numpy defaultly creates float numbers as 0.

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [11]:
type(0)

int

In [12]:
type(0.)

float

In [56]:
np.ones((5,4))
#same stuf with 1s

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [14]:
np.twos((4,5)) 
#Sad

AttributeError: module 'numpy' has no attribute 'twos'

In [20]:
np.random.seed(42)
#allows me to create same random numbers all the time
#these two should be in same cell
ar = np.random.randint(5,55,10)
ar

array([43, 33, 19, 47, 12, 25, 43, 23, 27, 15])

In [21]:
ar.max()

47

In [22]:
ar.min()

12

In [23]:
ar.mean()

28.7

In [24]:
ar.shape

(10,)

In [26]:
ar.reshape((10,1))

array([[43],
       [33],
       [19],
       [47],
       [12],
       [25],
       [43],
       [23],
       [27],
       [15]])

In [25]:
mat = np.arange(0,100).reshape(10,10)

In [20]:
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [41]:
row = 4
col = 8
mat[row,col]

48

In [27]:
mat[:,6]
# returns all ellements in column 1

array([ 6, 16, 26, 36, 46, 56, 66, 76, 86, 96])

In [27]:
mat[1,:] #second row

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [33]:
mat[:,1].reshape(10,1)

array([[ 1],
       [11],
       [21],
       [31],
       [41],
       [51],
       [61],
       [71],
       [81],
       [91]])

In [28]:
mat[5:7,5:7]
# grab all from 0 to 3 for rows and columns etc

array([[55, 56],
       [65, 66]])

In [29]:
mat[ 3:5,3:8] =0
mat
#some elements are affected as expected !

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32,  0,  0,  0,  0,  0, 38, 39],
       [40, 41, 42,  0,  0,  0,  0,  0, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [56]:
mynewmat =mat.copy()
mynewmat[0:6,:] =99
mynewmat
# copied previous matrix and now changed elements to 99

array([[99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [58]:
mynewmat[:,:] =99

In [59]:
mynewmat

array([[99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99],
       [99, 99, 99, 99, 99, 99, 99, 99, 99, 99]])