Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [1]:
range(10)

range(0, 10)

In [2]:
range(0, 10)

Turn this 'range' object into a list of values.

In [3]:
list(range(0, 10))

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [4]:
for i in range(10):
    print(i)

Repeat the same task, this time printing the values from the output on the same line.

In [5]:
for i in range(10):
    print(i, end = " ")

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [3]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [4]:
for i in products_on_sale:
    for j in sale_prices:
        print ([i,j])

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

## Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [15]:
def multiply_by_10(x):
    return x * 10

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [16]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [17]:
(lambda x: x * 10)(7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [18]:
(lambda x, y: x * y)(4,20)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$

In [14]:
(lambda x : (135 - x ** 3) ** 4 / (1 + x) ** 5)(4)

8131.73792